@use '@/app/styles/utils/utils' as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .title {
    @include h1;
  }

  .ideas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;

    @include media('<=desktop') {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media('<=phone') {
      grid-template-columns: repeat(1, 1fr);
    }

    .idea {
      display: flex;
      flex-direction: column;
      gap: 8px;
      padding: 16px;
      background-color: var(--color-bg);
      border-radius: 8px;

      .ideaTitle {
        @include h2;
      }
    }
  }
}
