@use '../../app/styles/utils/utils' as *;

.ideas {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(3, 1fr);

  @include media('<=desktop') {
    grid-template-columns: repeat(2, 1fr);
  }

  @include media('<=phone') {
    grid-template-columns: repeat(1, 1fr);
  }
}
