@use '../styles/utils/utils' as *;

.layout {
  display: flex;
  height: 100%;
  flex-flow: row nowrap;
  gap: 24px;
  padding-inline: 24px;

  @include media('<=tablet') {
    flex-flow: column nowrap;
  }

  .header {
    display: flex;
    width: 200px;
    flex-direction: column;
    padding-top: 24px;
    gap: 8px;

    @include media('<=tablet') {
      width: 100%;
    }

    .logo {
      @include h1;
    }

    .navigation {
      height: 100%;

      @include media('<=tablet') {
        height: auto;
      }

      .links {
        display: flex;
        flex-direction: column;
        gap: 8px;

        @include media('<=tablet') {
          flex-direction: row;
        }
      }
    }
  }

  .main {
    height: 100%;
    flex: 1;
    padding-top: 24px;

    @include media('<=tablet') {
      padding-top: 0;
    }
  }
}
